* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: $color-black;
  background: $color-white;
}

.wrapper {
  margin: 0 4.5rem;
}
.section__title {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
}
.cta {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.5rem 2rem;
  background: $color-accent;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}