* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: $color-black;
  background: $color-white;
}

.wrapper {
  margin: 0 4.5rem;
}

.section {
  &__title {
  font-size: 3rem;
  text-align: center;
  line-height: 4rem;
  }
  &__link {
    font-weight: bold;
    color: $color-accent;
    text-decoration: none;
    &:hover, &:visited {
      text-decoration: underline;
      text-decoration-color: $color-black;
    }
  }
}

.logo {
  font-size: 2.25rem;
  font-weight: 700;
  &__title {
    line-height: 4rem;
  }
  &--accent {
    color: $color-accent;
  }
  &__subtitle {
    font-size: 1rem;
    font-weight: normal;
  }
  & a {
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }
}

.cta {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: 1px solid $color-accent;
  padding: calc(1.5rem - 1px) 2rem;
  background: $color-accent;
  border-radius: .5rem;
  transition: .3s background;
  line-height: 1rem;
  cursor: pointer;
  &:hover {
    background: $color-white;
    border: 1px solid $color-accent;
  }
}