.header {
  position: relative;
  height: 6rem;
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4.5rem;
    background: $color-white;
    z-index: 2;
  }
}

.nav {
  &__container {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
  }
  &__link {
    color: $color-black;
    text-decoration: none;
    padding: 1rem;
    &:hover,:focus {
      color: $color-accent;
      & > .nav__icon {
        filter: invert(90%) sepia(77%) saturate(6205%) hue-rotate(313deg) brightness(102%) contrast(96%);
      }
    }
  }
}