.hero {
  margin: 7.5rem -4.5rem 0 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../assets/hero.jpg) no-repeat right;
    height: 34.625rem;
  }
  &__title {
    font-size: 3.875rem;
  }
  &__subtitle {
    margin: 2rem 0 4rem;
  }
  &__cta {
    text-transform: capitalize;
  }
}